@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:80%;
	font-family:Arial;
	line-height:1.3;
	color:#333333;
	background-image: url(../images/bg.gif);
}

A:link {
color:#4899D5;
text-decoration:none;
}
A:visited {
color:#4899D5;
text-decoration:none;
}
A:active {
text-decoration:none;
}
A:hover {
color:#ED554B;
text-decoration:underline;
