/* a fix for IE6 only - see Star Hack in Stylin' with CSS to see how the comments and * html hide this hack from other browsers \*/
* html * {
	zoom:100%; 
/* triggers IE6 "haslayout" - google 'IE6 haslayout' for details*/
	}
/* without the above hack, IE6 does not draw the header until the page is resized */
/* the problem is triggered by the universal * selector below that resets the margins, but I need to do that, hence the hack */
* {
	margin:0;
	padding:0;
	}
body {
	font: 1em Lucida, Arial, sans-serif; /* 1em = 16pts */
}
.float_left {float:left; margin: 0 .3em .3em 0;}      /* apply this class to any image or element with width - text will wrap it to the right */
.float_right {float:right;  margin: 0 0 .3em .3em;} /* apply this class to any image or element with width  - text will wrap it to the left */

/* DEFAULT TAG STYLES - font sizes, margins, padding, etc. */
/* NOTE: text colors follow below */
body {background-color:#FFF;}
#main_wrapper {background-color:#FFF;}
#header {
background:url(../../images/bg-repeat.jpg) repeat-x;
height:100px;
background-color:#FFF;
}
#nav {background-color:#B33;}
#content {background-color:#FFFFE6;}
#promo {background-color:transparent;}
#footer {background-color:#D9D9C3;}

h1, h2, h3, h4, h5, h6, ul, ol, dl {
	font-family: 'Trebuchet MS', Verdana,  serif;
	} 
/* TEXT COLORS */
h1 {
	color:#FFF;
	}
h2, h3, h4, h5 {
	color:#808073;
	}
h6 {
	color:#000000;
	}
p {
	color:#000;
	}
ul, ol, dl, blockquote, cite {
	color:#808073;
	}
#nav ul, #nav a {
	color:#FFF;
	}
a {
	color:#808073;
	}
a:hover, #nav a:hover {
	color:#000;
	}	
#footer p {
	margin:0;
	}
/* CLASS:OLIVE TAG STYLES - font sizes, margins, padding, etc. */
/* NOTE: text colors follow below */
body.olive {background-color:#FFF;}
.olive #main_wrapper {background-color:#6592d6;}
/* head bg */
.olive #header_inner {
	height:100px;
	
	}

.olive #nav {background-color:#537cb9;}
.olive #content {background-color:#E6E6CF;}
.olive #promo {background-color:#CCCC8F;}
.olive #footer {background-color:#6592d6;}

h1, h2, h3, h4, h5, h6, ul, ol, dl {
	font-family: 'Trebuchet MS', Verdana,  serif;
	} 
/* CLASS:OLIVE TEXT COLORS */
.olive h1 {
	color:#2e548c;
	font-weight:bolder;
	}
.olive h2, .olive h3, .olive h4, .olive h5 {
	color:#FFF;
	}
.olive h6 {
	color:#000000;
	}
.olive p {
	color:#666;
	}
.olive ul, .olive ol, .olive dl, .olive blockquote, .olive cite {
	color:#B33;
	}
.olive #nav ul {
	color:#FFF;
	}
.olive a {
	color:#B33;
	}
.olive a:hover {
	color:#666;
	}	
.olive #nav a:hover {
	color:#fff;
	}
	

/* FONT SIZES */
h1 {font-size:1.5em; /* 24pt */
	}
h2 {
	background-color:#1c6f96;
	float:left;
	font-size:1.1em; /* 22pt */
	line-height:1.5;
	font-weight:normal;
	letter-spacing:2pt;
	/* padding:.5em 0 0 0;	*/
	}
h3 {font-size:1.125em; /* 18pt */
	line-height:1.25;
	}
h4 {font-size:1.125em; /* 18pt */
	}
h5 {font-size:1em; /* 16pt */
	}
h6 {font-size:.875em; /* 14pt */
	}
p  {
	font-size:.8em; /* 12pt */
	line-height:1.25; /* on 15pt */
	margin-bottom:.75em; /* 12pts of space */
 	}
a {
	
	}
a:hover {
	text-decoration:none;
	}
/* basic list styling - more-styled lists in list.css */
ul, dl, ol {
		margin:0 1em .75em 1em; /* lists without specific classes */
		font-size:.8em;
		line-height:1.5;}
li, dd {
		padding:0em 0; /* lists without specific classes */
		margin-left:2em;
		}
#nav ul, #nav dl, #nav ol {
		/*margin:.5em 1em .75em 1em;  lists without specific classes */
		}
#nav li {
	list-style-type:none;
	margin-left:0
	}
#promo ul, #promo dl, #promo ol {
		margin:.5em 1em .75em 1em; /* lists without specific classes */
		}
#promo li {
	list-style-type:none;
	margin-left:0
	}		
dt {font-weight:bold;}

code {font-size:1.25em;}
* html code {font-size:1.1em;} /* default size is smaller in IE */
	
cite {
	font-size:.85em;
	font-style:italic;
	}
blockquote {
	border-top:2px solid;
	border-bottom:2px solid;
	width:50%;
	margin:1em 0 1em 20%;
	padding:.3em 1em;
	}
blockquote p {
	margin-bottom:.1em;
	}
blockquote p:before { /* IDWIMIE 6 and 7 */
	content: open-quote;
	color:#cccc8f;
}
blockquote p:after {  /* IDWIMIE 6 and 7 */
	content: close-quote;
	color:#366;
}
blockquote cite {
	font-size:.85em;
	}
abbr, acronym {
	border-bottom:1px dashed #000;
	cursor:default;
	}
address {
	margin:0 1em .75em 1em;
	}
img {
	border:0;
	}

/* basic table styling  - more-styled tables in tables.css */
.tableStyle1  caption {
	font-weight:bold;
	font-size:1em;
	margin-top:.6em;
	}
.tableStyle1  {
	margin: .3em 1em 1em 1em;
	border-top:1px solid #069;
	border-collapse:collapse;
	font-size:.8em;
	}
.tableStyle1  th{
	padding: .3em .5em .3em .5em;
	border-bottom:2px solid #069;
    text-align:center;
	}
.tableStyle1 td	{
	padding: .3em .5em .3em .5em;
	border-bottom:1px solid #069;
text-align:center;
	}
/* THE ALSETT CLEARING METHOD */
	.clearfix:after {
 content: ??
 display: block; 
 height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix {display: inline-table;}
/* backslash hack hides from IE mac \*/ LEAVE THIS COMMENT RIGHT HERE! 
* html .clearfix {height: 1%;}
.clearfix {display: block;}

#header_logout a{
	font-size:.8em; 
	color:#00F;
	}
#header_logout a:hover{
	font-size:.8em; 
	color:#333;
}
	
#header_pic {
	color:#666;
	font-weight:bolder;

	}
#header_wellcome {
	background:url(../../images/manage-words.gif) no-repeat;
	background-position:center;
	}
#header_wellcome_pic {
	background-image:url(../../images/header_wellcome.jpg);
	}
#content_title_right{
	background-image:url(../../images/content_title_right.jpg);
	}
#content_title_left{
	background-image:url(../../images/content_title_left.jpg);
	}
fieldset{
	background-color:#e9f9ac;
	text-align:left;
	border-width:2px 2px 2px 10px;
	border-style:solid;
	border-color:#cee574;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
		
	margin:20px 0px 20px 20px;
	width:90%;
	display:block;
	padding: 0px 10px 10px 10px;
}

fieldset legend{	
	background-color:#ecefcb;
	
	border-width:1px 1px 1px 10px;
	border-color:#ff9900;
	border-style:solid;
	
	color:#5c71a2;
	font-weight:bold;
	text-transform:uppercase;
	font-size:90%;
	text-align:center;
		
	width:200px;
	padding:3px 5px;
	margin:0px 0px 10px -40px;
	top: -14px;
	
}
fieldset .thickbox
{
    font-size:14px;
}
fieldset div
{
    margin-bottom:5px;
}


label{
	color:#5c71a2;
	font-weight:bold;
	padding-right:4px;
    padding-top:4px;
	display:block;
	float:left;
	width:100px;
	text-align:right;
}


input[type='text'],textarea,input[type='password'],.checkbox{
	background-color:#e9f9ac;
	margin:2px 0px 0px 0px;
	
	border-width: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color:Blue;
	
	color:#5c71a2;
	
	padding:1px 2px;
}

.Addbutton{
	border: 1px solid #809431;
    background-color:#e9f9ac;
	background-repeat:no-repeat;
    background-position:3px 4px;
	float:left;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 5px 5px 25px;
    text-align:left;
    width:auto;
}
.sortbutton{
	background-color:#e9f9ac;
	background-repeat:no-repeat;
	
	border-width:1px;
	border-style:solid;
	border-color:#809431;
	
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 5px 5px 25px;
    text-align:left;
}
.checkbox label /*去除本來 label css的影響 */ 
{
 float:none;
 display:inline;

}

.formitem
{
    text-align: left;
    padding:3px 0;
}
.action
{

    cursor:pointer;
}

	 

/* end backslash hack */ 
