#menuContainer {left:0; top:139px;}
/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssmenus.co.uk
Copyright (c) 2009- Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#menu {padding:0; list-style:none;margin:0 auto; font-size:11px; font-family:arial, sans-serif; height:41px; width:100%;
border-bottom:3px solid #BB3333;}
#menu li {display:inline; margin:0 -2px; text-align:left;}
#menu li a {display:inline-block; height:36px; margin:5px 0 -4px 0; padding:0 20px 0 0; background: url(../../images/button.gif) right top; line-height:32px; font-family:arial, sans-serif; font-size:12px; color:#000; text-decoration:none;}
#menu li a b {display:block; height:36px; float:left; padding:0 0 0 20px; background:url(../../images/button.gif) left top; cursor:pointer;}

#menu li a:hover, 
#menu li a:active,
#menu li a:focus,
.home #menu li#home a,
.single #menu li#single a,
.dropdown #menu li#dropdown a,
.dropline #menu li#dropline a,
.flyout #menu li#flyout a,
.support #menu li#support a,
.contact #menu li#contact a
{background-position:right bottom; color:#fff;}
#menu li a:hover b,
#menu li a:active b,
#menu li a:focus b,
.home #menu li#home a b,
.single #menu li#single a b,
.dropdown #menu li#dropdown a b,
.dropline #menu li#dropline a b,
.flyout #menu li#flyout a b,
.support #menu li#support a b,
.contact #menu li#contact a b
{background-position:left bottom;}
