/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssmenus.co.uk
Copyright (c) 2009- Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#flyout {float:left; padding-top:3px; margin:0; list-style:none; position:relative; width:140px;border-right:0px; background:#537cb9;}
#flyout ul {padding:0; margin:0; list-style:none; width:99%; height:auto; background: url(trans.gif); position:absolute; left:-9999px; top:0;}
#flyout table {border-collapse:collapse; width:0; height:0; margin:-1px -10px;}

#flyout li {float:left; }
#flyout li a {display:block; float:left; width:140px; height:30px; background:#4c4c4c; color:#fff; line-height:30px; font-family:arial, sans-serif; font-size:1.2em; text-decoration:none; text-indent:10px;}
#flyout li a.fly {background:#4c4c4c url(../../images/right-arrow.gif) no-repeat right center;}

#flyout li:hover {position:relative;}
#flyout li a:hover {position:relative; background-color:#888; color:#fff;}
#flyout li:hover > a {background-color:#7aa7ea; color:#fff;}

#flyout ul li a {background:#726b6b;font-size:1.2em;width:180px;}
#flyout ul li a.fly {background:#f00 url(../../images/right-arrow.gif) no-repeat right center;}
#flyout ul ul li a {background:#726b6b;}
#flyout ul ul li a.fly {background:#726b6b url(../../images/right-arrow.gif) no-repeat right center;}
#flyout ul ul ul li a {background:#726b6b;}

#flyout li a.current,
#flyout ul li a.current,
#flyout ul ul li a.current,
#flyout ul ul ul li a.current {background-color:#3b75cb; color:#fff; }

#flyout :hover ul,
#flyout :hover ul :hover ul,
#flyout :hover ul :hover ul :hover ul {left:120px;}

#flyout :hover ul ul,
#flyout :hover ul :hover ul ul {left:-9999px;}

#flyout ul li:hover > a {background-color:#a4c9ff; color:#fff;}
#flyout ul ul li:hover > a {background-color:#e60; color:#fff;}
