﻿
body {
/*  	background-image:url(../../images/bg.gif); */
background:#fff;
}
#box{
	margin: 0px auto;
	padding: 0px;
	width:900px; 
}
.title1{
	width:800px;
	padding-top:80px;
	font-size:30px;
	font-weight:bolder;
	font-family: "新細明體", "細明體", "微軟正黑體";
	color: #2e548c;
	margin-right:40px;
	text-align:right;
	letter-spacing:3pt;
}
.login{
    width:900px;
	height:248px;
	padding-top:0px;
	background:url(../../images/login-1.jpg) no-repeat;
}

.content{
	padding:0px;
	width:900px;
	height:452px;
	background:url(../../images/login-2.jpg) no-repeat;
}
.centerbox{
width:800px;
margin-left:100px;
margin-right:100x;
}
.table1{
	margin-left:150px;
    margin-right:200px;
	width:400px;
	height:300px;
}
.img1{
float:right;	
}
.img2{
padding-left:30px;
}
.img3{
padding-left:50px;
}

.text1{
	border:1px solid #7e7e7e;
	background:#f3f6f7;
	width:130px;
	height:22px;
}

.button{
	padding-left:75px;
}
.login .content  .center .loginInfo{
	float:left;
	width:210px;
	}
.login .content  .center .ErrorInfo{	
	float:left;
	width:210px;
	height:34px;
	}	

.login .content  .center  #lblMessage{
	float:left;
	color:#F00;
	width:100%;
	
	}	

div.container {
	background-color:#000000;
	margin: 0px;
	padding: 0px;
	text-align:center;
	color:#fff;
	
}
div.container ol li {
	list-style-type: none;
	margin-left: 20px;	
}
div.container { display: none }
.container label.error {
	display: inline;
}
.font1{
	font-family: "新細明體", "細明體", "微軟正黑體";
	font-size: 13px;
	color:#F00;
	text-align:center;
	line-height:1.5em;
}
